{% extends 'image_app/main.html' %} {%block content %} {% load widget_tweaks %}

<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-4">
      <a
        class="btn btn-secondary mb-4 px-4"
        href="{% url 'home' %}?category=all"
        >Back</a
      >
      <div class="card">
        <form method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="m-3">
            <label for="formFile" class="form-label">Description</label>
            <input
              required
              name="description"
              type="text"
              placeholder="Enter Description"
              class="form-control"
            />
          </div>

          <div class="m-3">
            <label>Select a Category</label>
            <select class="form-control" name="category">
              <option value="none">Select a Category...</option>

              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.category }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="m-3">
            <label for="formFile" class="form-label"
              >Create a New Category</label
            >
            <input
              name="create_category"
              type="text"
              placeholder="Create New Category"
              class="form-control"
            />
          </div>

          <div class="m-3">
            <label for="formFile" class="form-label">Upload Image</label>
            <input
              required
              type="file"
              name="image"
              class="form-control-file"
            />
          </div>

          <button type="submit" class="btn btn-primary m-3 px-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %} {% render_field form.description  %}
  <input type="submit" name="Submit" value="Submit" />
</form> -->
{% endblock %}
